---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Article
  order: 2
---

<h1>Article Blog about IoT with AI</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
