</div>
<footer class="border-top row">
<p class="col-md-6 col-4 p-1 text-start">copyrights <a href="{{ '/' | url }}">{{ metadata.name }}</a></p>
<p class="col-md-6 col-8 p-1 text-end"><small>built with <a href="https://comdev.com.ua">ComDev</a> by <a href="https://eleventy.web.app/">and ToDo Group DCXV</a></small></p>
</footer></div>
  </body>
</html>