<div class="container">
<div class="row card shadow bg-white p-3">
<nav class="nav">
<a class="nav-link text-dark " href="{{ '/' | url }}">{{ metadata.name }}</a>
  <a class="nav-link text-dark" target="_blank" href="{{ metadata.nav.url2 }}">{{ metadata.nav.menu2 }}</a>
  <a class="nav-link text-dark" target="_blank" href="{{ metadata.nav.url3 }}">{{ metadata.nav.menu3 }}</a>
</nav>
<div class="col-md-12 p-3">
<h1><strong>{{ metadata.title }}</strong></h1>
<h4>{{ metadata.description }}</h4>
</div>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb p-1 border-bottom border-top">
    <li class="breadcrumb-item"><a href="{{ '/' | url }}">Домой</a></li>
    <li class="breadcrumb-item active">{{ title }}</li>
  </ol>
</nav>
<div class="row">
